<main class="flex-shrink-0">
  <div class="container mt-2">
    <div class="row">
      <div class="col-md-2">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#modal"
        >
          Nuevo cliente
        </button>
      </div>
    </div>
  </div>

  <div class="container">
    <h1 class="mt-5">Lista de clientes</h1>
    <table
      class="table table-striped table-responsive table-bordered"
      id="datatables-responsive"
    >
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Direccion</th>
          <th>Telefono</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody class="table-light table-striped" id="tableProveedores">
        @for (cliente of listaClientes; track $index){
        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ cliente.Nombres }}</td>
          <td>{{ cliente.Direccion }}</td>
          <td>{{ cliente.Telefono }}</td>
          <td>
            <button type="button" class="btn btn-warning">Edit</button> |
            <button type="button" class="btn btn-danger">Delete</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</main>
<div
  class="modal fade"
  id="modal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Clientes</h5>
        <button
          type="button"
          class="btn-close btn-sm"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form action="" id="frm_clientes">
        <div class="modal-body">
          <div class="form-group">
            <label for="Nombres">Nombres:</label>
            <input
              type="text"
              class="form-control"
              name="Nombres"
              id="Nombres"
            />
          </div>
          <div class="form-group">
            <label for="Direccion">Direccion:</label>
            <input
              type="text"
              class="form-control"
              name="Direccion"
              id="Direccion"
            />
          </div>
          <div class="form-group">
            <label for="Telefono">Telefono:</label>
            <input
              type="text"
              class="form-control"
              name="Telefono"
              id="Telefono"
            />
          </div>
          <div class="form-group">
            <label for="Cedula">Cedula:</label>
            <input type="text" class="form-control" name="Cedula" id="Cedula" />
          </div>
          <div class="form-group">
            <label for="Correo">Correo:</label>
            <input type="text" class="form-control" name="Correo" id="Correo" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
          <button
            type="button"
            class="btn btn-sm btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
